body {
    background: #161616;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5em;
}

.weather-info {
    font-size: 1.8em;
}

#temp {
    color: #006dcc;
}
#temp:hover {
    opacity: 0.7;
    cursor: pointer;
}
